.wrap{
  display: block;
  min-height: 700px;
  margin: 66px 20% 10% 20% ;
  padding-top: 10%;
}

.catgories-title{
  padding-bottom: 5%;
  border-bottom: 2px solid rgb(52, 176, 217);
  font-size: 30px;
}
.catgories-content{
  padding-top: 10%;
}
