body{
  margin: 0px;
}
a{
  text-transform: none;
  text-decoration: none;
}
.container{
  text-align: center;
}
.header a{
  color: #000000;
  font-size: 60px;
  letter-spacing: 40px;
  font-family: "Times New Roman",fantasy,monospace;
}
.loginbar{
  text-align: center;
  height: 200px;
  width: 200px;
  margin:  50px 650px 0px 650px;
  border-radius: 25px;
  background-color: rgb(245, 245, 245);
  box-shadow: -0.1px -0.1px 2px  rgb(62, 62, 62) inset;
  font-family:sans-serif;
}
#loginbarinput{
  margin-top: 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(106, 134, 255);
  box-shadow: -0.1px -0.1px 2px  rgb(62, 62, 62) inset;
}
.footer{
  padding-top:40px;
  text-align: center;
}
.footer a{
  display: inline-block;
  width: 70px;
  height: 20px;
  border-radius: 4px;
  background-color:rgb(255, 83, 52);
  color: rgb(255, 255, 255);
}
